@import "tailwindcss";

.clamp {
    font-size: clamp(1.2rem, 3vw, 1.6rem)
}

@layer base {
    h1 {
        @apply text-3xl font-bold;
    }
}

@layer utilities {
    .flex-center {
        @apply justify-between items-center;
    }

    .head-btn {
        @apply py-2 px-6 m-2 hover:scale-110 cursor-pointer
        hover:shadow-2xs duration-200 rounded-2xl font-semibold
    }

    .text-fluid-sm {
        font-size: clamp(0.9rem, 2vw, 1rem);
    }
}