@import "tailwindcss";

.clamp {
    font-size: clamp(1.2rem, 3vw, 1.6rem)
}

.ombre {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}

@layer base {
    h1 {
        @apply text-3xl font-bold;
    }

    h2 {
        @apply text-2xl font-bold text-center text-amber-900;
    }
}

@layer components {

    .card {
        @apply relative rounded-4xl px-4 py-2 ring-black
    }

    .card img {
        @apply rounded-4xl aspect-square
    }

    .card div {
        @apply py-4
    }


    .head-btn {
        @apply py-2 px-6 m-2 hover:scale-110 cursor-pointer
        hover:shadow-2xs duration-200 rounded-2xl font-semibold
    }

}

@layer utilities {
    .flex-center {
        @apply justify-between items-center;
    }

    .text-fluid-sm {
        font-size: clamp(1rem, 2vw, 1.15rem);
    }
}